*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(89, 131, 252, 1);
    background-image: linear-gradient(150deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 90%);
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 400px;
    height: 600px;
    border: 1px solid rgba(66, 68, 90, 1);
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 12px 9px 0px 0px rgb(0, 0, 0);
    -moz-box-shadow: 12px 9px 0px 0px rgb(0, 0, 0);
    box-shadow: 12px 9px 0px 0px rgb(0, 0, 0);
}

img{
    width: 100%;
    border-radius: 8px;
}

.product-name{
    margin-top: 20px;
    margin-left: 15px;
}

.price{
    margin-left: 100px;
}

.description{
    font-size: 19px;
    margin: 20px 10px 0 15px;
}

.desc-span{
    font-weight: bold;
    color: rgb(255, 126, 126);
}
